body {
    background-color: rgb(194, 194, 194);
}

textarea {
    width: 100%;
}

.side-by-side {
    padding: 1%;
}

.bf {
    width: 48%;
    float: left;
    display: block;
    text-align: center;
}

.output {
    width: 48%;
    float: right;
    display: block;
    text-align: center;
}

.mem {
    width: 48%;
    float: right;
    display: block;
    text-align: center;
}

.bf textarea {
    font-size: 20px;
}

.output textarea {
    font-size: 20px;
}


.mem textarea {
    font-size: 20px;
}

